[submodule "ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pyflakes-vim"]
	path = .vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "python.vim"]
	path = .vim/bundle/python.vim
	url = https://github.com/vim-scripts/python.vim.git
[submodule "taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git

